# Kafka Configuration
KAFKA_PORT=9092
KAFKA_BROKER_ID=1
KAFKA_REPLICATION_FACTOR=1

# Redis Configuration
REDIS_PORT=6379

# MongoDB Configuration
MONGODB_PORT=27017
MONGODB_PASSWORD=password
MONGODB_USER=admin
SPRING_DATA_MONGODB_HOST=mongodb

# Spring Configuration
SPRING_PROFILES_ACTIVE=prod

# Service Ports
JOB_PRODUCER_PORT=8081
JOB_WORKER_PORT=8082
RETRY_DISPATCHER_PORT=8083
DLQ_PORT=8084

# Java Options (optional)
JAVA_OPTS=-Xms512m -Xmx1024m
