# Kafka Configuration
KAFKA_PORT=9092
KAFKA_ADVERTISED_HOST=localhost
KAFKA_BROKER_ID=1
KAFKA_REPLICATION_FACTOR=1
KAFKA_NUM_PARTITIONS=3

# Redis Configuration
REDIS_PORT=6379

# MongoDB Configuration
MONGODB_PORT=27017
MONGODB_PASSWORD=password
MONGODB_USER=admin
SPRING_DATA_MONGODB_HOST=mongodb
MONGODB_DATABASE=dlq_db

# Spring Configuration
SPRING_PROFILES_ACTIVE=prod

# Service Ports
JOB_PRODUCER_PORT=8081
JOB_WORKER_PORT=8082
RETRY_DISPATCHER_PORT=8083
DLQ_PORT=8084

# Java Options (optional)
JAVA_OPTS=-Xms512m -Xmx1024m

# Grafana Configuration
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin
